<div>
    <h2>
        <span jhiTranslate="sergicApp.role.home.title">Roles</span>
        <button class="btn btn-primary float-right jh-create-entity create-role" [routerLink]="['/', { outlets: { popup: ['role-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="sergicApp.role.home.createLabel">
            Create new Role
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="roles">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="sergicApp.role.codeRole">Code Role</span></th>
            <th><span jhiTranslate="sergicApp.role.nature">Nature</span></th>
            <th><span jhiTranslate="sergicApp.role.isMembreGestion">Is Membre Gestion</span></th>
            <th><span jhiTranslate="sergicApp.role.libelle">Libelle</span></th>
            <th><span jhiTranslate="sergicApp.role.isMembreCS">Is Membre CS</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let role of roles ;trackBy: trackId">
                <td><a [routerLink]="['../role', role.id ]">{{role.id}}</a></td>
                <td>{{role.codeRole}}</td>
                <td>{{role.nature}}</td>
                <td>{{role.isMembreGestion}}</td>
                <td>{{role.libelle}}</td>
                <td>{{role.isMembreCS}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../role', role.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'role/'+ role.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'role/'+ role.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
